@using System.Runtime.InteropServices.JavaScript

<h1>
    JS <code>[JSImport]</code>/<code>[JSExport]</code> Interop
    (Call JS Example 1)
</h1>

@(message is not null ? message : string.Empty)

@code {
    private string? message;

    // Logged here https://github.com/dotnet/aspnetcore/issues/55764
    protected override async Task OnInitializedAsync()
    {
        //await JSHost.ImportAsync("Test", "./Test.razor.js");
        //"./_content/AppJS/Components/Pages/JsCollocation3.razor.js"
        await JSHost.ImportAsync("Test", "./_content/RazorClassLibrary/Test.razor.js");

        message = GetValueFromJSFunc();
    }
}